.site-header {
  background: #FFE9AD;
  padding: 1.5%;
}

.pull-left, .pull-right {
  max-width: 100%;
}
  
ul {
  font-size: 20;
}

.nav-ul {
  display: none;
}
  
.hamburger:hover .nav-ul{
  display: block;
}

li {
  font-size: 1.0rem;
  letter-spacing: normal;
  list-style: none;
  display: block;
  padding: 1%;
  
}

a {
  text-decoration: none;
  color: gray;
}

main {
  padding: 2.5%;
}

@media only screen and (min-width: 640px) {
  .nav-ul {
    display: block;
  }
  
  .hamburger {
    display: none;
  }

  li {
    font-size: 1.5em;
    display: inline-block;
  }
} 
